<div id="<%= dom_id profile %>">
  <p>
    <%= image_tag profile.avatar_url, class: 'avatar avatar--large' %>
    <strong><%= profile.name %></strong>

    <%= render 'follow_button', profile: profile %>
  </p>
</div>