<div id="<%= dom_id profile %>">
  <p>
    <%= image_tag profile.avatar_url, width: '20rem', style: 'border-radius: 10px' %>
    <strong><%= profile.name %></strong>

    <%= render 'follow_button', profile: profile %>
  </p>
</div>