<h1>Edit your Profile</h1><br>

<div class="avatar_container">
  <%= image_tag @profile.avatar_url, class: 'avatar avatar--large' %>
  <%= turbo_frame_tag "#{dom_id(@profile)}_form" do %>
    <%= render 'form', profile: @profile %>
  <% end %>
</div>