<!-- No Link redirects here at the moment; Will add a redirect probably
from the home page later when I implement a separate home page -->
<h1>Users</h1>

<div id="user_profiles">
  <%= render @profiles %>
</div>