<div>
  <%= image_tag @profile.avatar_url, width: '100rem', style: 'border-radius: 10px' %>
  <h1 class="profile_name"><%= @profile.name %></h1>
  <!-- Add Profile Bio and Profile Picture -->


  <div class="posts_container">
    <h3><%= @profile.name %>'s Posts</h3> 
    <div id="user_posts">
      <%= render @posts %>
    </div>
  </div>
</div>