<h1>Welcome to Socialite, <%= @user.profile.name %></h1>
  <p>
    You have successfully signed up to Socialite,
    your username is: <%= @user.profile.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>