.form-divider {
  width: 100%;
  color: var(--color-dark);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-xxxs);
  margin-bottom: var(--space-m);
  font-size: var(--font-size-s);

  &--thick {
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
  }
  &__line {
    width: 100%;
    height: 0.8px;
    background-color: #cccccc;

    &--thick {
      height: 5px;
    }
    
    &--primary {
      background-color: var(--color-primary);
    }
  }

  &__text {
    min-width: 20%;
    text-align: center;
    flex: none;
  }
}