<div class="explore">
  <div class="feed">
    <h1 class="feed__heading">Explore</h1>
    <div class="feed__posts">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
  </div>

  <div class="profile-list-box">
    <h2 class="profile-list-box__heading">Other People</h2>
    <div class="profile-list-box__profiles stack">
      <%= render @profiles %>
    </div>
  </div>
</div>