<div class="header">
  <h1>Socialite</h1>
  <div class="header__links">
    <%= link_to "Your Feed", posts_path, class: "btn" %>
    <%= link_to "Explore", explore_path, class: "btn" %>
    <%= link_to "New post", new_post_path, class: "btn btn--primary" %>
  </div>
</div>